<title>{% if page.title %}{{ page.title | escape }}{% else %} Home {% endif %} | {{ site.author }}</title>
<meta name="title" content="{% if page.title %}{{ page.title | escape }}{% else %} Home {% endif %} | {{ site.author }}">

{% if page.title contains 'Home' %}
<meta name="description" content="{{ site.home_meta}}">

{% endif %}

{% if page.title contains 'About' %}
<meta name="description" content="{{ site.about_meta}}">

{% endif %}

{% if page.title contains 'Work' %}
<meta name="description" content="{{ site.work_meta}}">
{% endif %}

{% if page.title contains 'Résumé' %}
<meta name="description" content="{{ site.resume_meta}}">
{% endif %}

{% if page.title contains 'Contact' %}
<meta name="description" content="{{ site.contact_meta}}">
{% endif %}

<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}">
<meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %} Home {% endif %} | {{ site.author }}">

{% if page.title contains 'Home' %}
<meta name="og:description" content="{{ site.home_meta}}">

{% endif %}

{% if page.title contains 'About' %}
<meta name="og:description" content="{{ site.about_meta}}">

{% endif %}

{% if page.title contains 'Work' %}
<meta name="og:description" content="{{ site.work_meta}}">
{% endif %}

{% if page.title contains 'Résumé' %}
<meta name="og:description" content="{{ site.resume_meta}}">
{% endif %}

{% if page.title contains 'Contact' %}
<meta name="og:description" content="{{ site.contact_meta}}">
{% endif %}
<meta property="og:image" content="{{ site.url }}/assets/images/header/social.jpg">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ site.url }}">
<meta property="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %} Home {% endif %} | {{ site.author }}">

{% if page.title contains 'Home' %}
<meta name="twitter:description" content="{{ site.home_meta}}">

{% endif %}

{% if page.title contains 'About' %}
<meta name="twitter:description" content="{{ site.about_meta}}">

{% endif %}

{% if page.title contains 'Work' %}
<meta name="twitter:description" content="{{ site.work_meta}}">
{% endif %}

{% if page.title contains 'Résumé' %}
<meta name="twitter:description" content="{{ site.resume_meta}}">
{% endif %}

{% if page.title contains 'Contact' %}
<meta name="twitter:description" content="{{ site.contact_meta}}">
{% endif %}
<meta property="twitter:image" content="{{ site.url }}/assets/images/header/social.jpg">
