<section class="sidebar {% if page.url == '/'%}sidebar-full-width scene_element{% endif %}">
    <div class="sidebar-inner">
        <div class="sidebar-content-wrap">
            <a href="/" class="avatar"><img src="{{site.url}}/assets/images/michael_movsesov_avatar.jpeg" class="avatar"/></a>
            <h1 class="site-title">{{ site.title }}</h1>
            <h2 class="site-description">{{ site.subtitle }}</h2>
            <nav class="sidebar-nav">
                <div>
                    <ul>
                        {% for item in site.data.navigation.main_navigation%}
                        <li class="{% if item.url == page.url %}current-menu-item{% endif %}">
                            <a href="{{site.url}}{{ item.url }}">{{ item.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    <nav class="social-nav">
        <a href="https://github.com/michaelmov" target="_blank"><i class="fa fa-github-square"></i></a>
        <a href="https://codepen.io/michaelmov/" target="_blank"><i class="fa fa-codepen"></i></a>
        <a href="https://twitter.com/MichaelMov" target="_blank"><i class="fa fa-twitter-square"></i></a>
        <a href="https://www.linkedin.com/in/michaelmov" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        <a href="mailto:michael.movsesov@gmail.com" target="_blank"><i class="fa fa-envelope-square"></i></a>
    </nav>
</section>
