
.about-bg {
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
	margin-top: 4rem;
}

.about-main {
	padding-top: 4rem;
}

.about-all {
	.about-icon {
		padding-bottom: .75rem;
		font-size: 3rem;
	}

	.about-title {
		margin-bottom: .5rem;
	}

	.about-copy {
		padding-bottom: 1.5rem;
		margin-bottom: 1.5rem;
		border-bottom: 1px solid rgba($secondary, .1);
  }

	.tools {
		color: $primary;
		font-weight: $bold;
		padding-bottom: .5rem;
	}

	.about-desc {
		padding-bottom: 1.5rem;
	}
}
