.resume-head {
  background: rgba($well, .1%);
  border-radius: 5px;
  padding: 1rem;
}

.resume-head {
	margin-bottom: 3rem;
}

.content-border {
	//border-left: .2rem solid rgba($well, .2);
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  margin-bottom: 2rem;

	.about-content {
		padding-left: 1.5rem;

		@include breakpoint(max-tablet) {
			padding-left: 0;
		}

	}

	.exp-title {
		font-weight: $bold;
		color: $danger;
		margin-bottom: .25rem;
	}

	.exp-date {
		font-weight: $bold;
		color: $dark;
		margin-bottom: 1.25rem;
	}

	.exp-details-icon {
		padding-right: .5rem;
		font-size: 65%;
		vertical-align: middle;
		color: $primary;
		opacity: 0.6;
		padding-top: 0.4rem;
	}

	.exp-details p {
		display: flex;
	}


}

.intro-about .content-border .about-content {
	padding-top: 1rem;
	padding-bottom: 1rem;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}

.bar {
	background: lighten($well, 40%);
	border-radius: 20px;
}

.bar-chart {
	background: $danger;
	height: .5rem;
	border-radius: 20px;
	overflow: hidden;
  @include transition(width 1.5s ease-in-out);
	width: 0;
    position: relative;



	&:after {
		content: " ";
		position: absolute;
		top: 0;
		right: 0;
		width: 1rem;
		height: 100%;
		background: darken($danger, 10%);
		border-radius: 20px;
	}

}

.skills {
	padding-bottom: .5rem;
	padding-top: 1rem;

	&:first-child {
		padding-top: 0;
	}

	&:last-child {
		padding-bottom: 0;
	}
}
