<header>
	<div class="container">
		<div class="row hero">
			<div class="col-12 align-self-center munich text-center text-sm-left ">
				<h1 class="header text-uppercase d-block mb-0">
					<span class="text-wrapper">
							<span class="text-danger">Hi!</span> I’m {{ site.author }}
					</span>
				</h1>
				<h2 class="subheader text-uppercase mb-1">
					<span class="sub-letters">Frontend <span class="text-danger">Developer</span></span>
				</h2>
				<span class="d-block subheader-copy">
					<i class="far fa-code text-dark fade-50 pr-2"></i>Coding, gardening, animals and traveling are my jam.
				</span>
				<div class="pt-3">
					<a href="/work" class="mantra-link">My Work<i class="fal fa-long-arrow-right pl-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</header>
