<div class="container-fluid">
	<div class="row hero-img">
	</div>
</div>

<section class="lsect" id="mantra">
	<div class="container">
		<div class="row pb-2">
			<div class="col-md-8 text-left">
				<h3 class="h2 stitle mb-2">
					Design Mantra
				</h3>
					<h4 class="h6 mb-3 text-left">Keep. It. Simple. Stupid.</h4>
					<div class="scopy blue mt-3">
						<span class="font-weight-bold">K.I.S.S.</span>&nbsp;&mdash;&nbsp;One of most important rules that I like to follow when developing a user interface or creating that perfect experience. However, there's a certain point in every design where this rule, like many others, is meant to be <i class="font-weight-bold">broken</i>.
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 align-self-start">
				<div class="row">
					<div class="col-12 mb-5">
						<div class="d-flex justify-content-start mb-3">
							<i class="far fa-users-class fa-lg align-self-center text-muted"></i>&nbsp;
							<h5 class="h3 align-self-center m-0">User <span class="text-danger">Research</span></h5>
						</div>
						<p class="mantra-copy">
							Without the guidance of how an individual uses a program, you're essentially navigating without a&nbsp;compass.
						</p>
					</div>
					<div class="col-12 mb-5">
						<div class="d-flex justify-content-start mb-3">
							<i class="far fa-object-group fa-lg align-self-center text-muted"></i>&nbsp;
							<h5 class="h3 align-self-center m-0">Visual <span class="text-danger">Design</span></h5>
						</div>
						<p class="mantra-copy">
							I like to approach a design with a simple &amp; minimalistic thought process. I would rather have the user focus on the business side of the project rather than the&nbsp;<i class="font-weight-bold">creativeness</i>.
						</p>
					</div>
					<div class="col-12">
						<div class="d-flex justify-content-start mb-3">
							<i class="far fa-sitemap fa-lg align-self-center text-muted"></i>&nbsp;
							<h5 class="h3 align-self-center m-0">Reuse <span class="text-danger">Code</span></h5>
						</div>
						<p class="mantra-copy">
							Simplifying and reusing the amount of code in a project can significantly decrease the project&nbsp;timeline. In the long run, reusing code will organically make the project much simpler.
						</p>
					</div>
				</div>
			</div>
		</div>
</section>
