<div class="container-fluid">
	<div class="row hero-img">
	</div>
</div>

<section class="lsect" id="mantra">
	<div class="container">
		<div class="row pb-2">
			<div class="col-md-8 text-left">
				<h3 class="h2 stitle mb-2">
					Development Mantra
				</h3>
					<h4 class="h6 mb-3 text-left">Keep. It. Simple. Stupid.</h4>
					<div class="scopy blue mt-3">
						<span class="font-weight-bold">K.I.S.S.</span>&nbsp;&mdash;&nbsp;This is one of most important fundamental rules that I like to follow when developing an application or creating an interface. What I like about this rule is that there's a point in every project when this rule needs to be <i class="font-weight-bold">deconstructed</i>.
					</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7 align-self-start">
				<div class="row">

					<div class="col-12 mb-5">
						<div class="d-flex justify-content-start mb-3">
							<i class="far fa-object-group fa-lg align-self-center text-muted"></i>&nbsp;
							<h5 class="h3 align-self-center m-0">Visual <span class="text-danger">Design</span></h5>
						</div>
						<p class="mantra-copy">
							I like to approach a project design with a simple yet minimalistic process. I would rather have the user focus on the business side of the project rather than the&nbsp;<i class="font-weight-bold">creativeness</i>.
						</p>
					</div>
					<div class="col-12 mb-5">
						<div class="d-flex justify-content-start mb-3">
							<i class="far fa-users-class fa-lg align-self-center text-muted"></i>&nbsp;
							<h5 class="h3 align-self-center m-0">User <span class="text-danger">Research</span></h5>
						</div>
						<p class="mantra-copy">
							Without the guidance of how an individual uses a program, you're essentially navigating without a&nbsp;compass.
						</p>
					</div>
					<div class="col-12">
						<div class="d-flex justify-content-start mb-3">
							<i class="far fa-sitemap fa-lg align-self-center text-muted"></i>&nbsp;
							<h5 class="h3 align-self-center m-0">Code <span class="text-danger">Development</span></h5>
						</div>
						<p class="mantra-copy">
							From the projects build from beginning to end, writing code with future project extensions in mind will enhance future&nbsp;development.
						</p>
					</div>
				</div>
			</div>
		</div>
</section>
