.work-tile1 {
  background-image: url('/assets/images/work/ndr-lg.jpg');
}
.work-tile2 {
  background-image: url('/assets/images/work/das-lg.jpg');
}
.work-tile3 {
  background-image: url('/assets/images/work/lcnrd-lg.jpg');
}
.work-tile4 {
  background-image: url('/assets/images/work/negov-lg.jpg');
}
.work-tile5 {
  background-image: url('/assets/images/work/nsrb-lg.jpg');
}
.work-tile6 {
  background-image: url('/assets/images/work/ni-lg.jpg');
}

//
//
//

.thumb {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 10px rgba($dark, .25);
  border-radius: .25rem;
  @include transition(.25s);

  &.thlg {
    height: 200px;

    @include breakpoint(min-tablet) {
      height: 400px;
    }
  }

  &.thsm {
    height: 200px;

    @include breakpoint(min-tablet) {
      height: 325px;
    }
  }
}

.iwork-row {
  margin-bottom: 4.5rem;

  @include breakpoint(max-tablet) {
    margin-bottom: 0;
  }

    &:last-child {
      margin-bottom: 0;
    }

    .iwork-sm {
      margin-top: 1.5rem;
      @include breakpoint(max-tablet) {
        margin-top: 0;
      }
    }

    .iwork {
      margin-bottom: 1.5rem;

        @include breakpoint(min-tablet) {
          margin-bottom: 0;
        }
    }

}


.iwork-description {
  @include transition(.25s);
  @include transform(translateY(25px));
  opacity: 0;

    @include breakpoint(max-tablet) {
      @include transform(translateY(0));
      opacity: 1;
    }

    &.home {
      color: lighten($secondary, 55%);
    }

    &.inner {
      color: lighten($secondary, 15%);
    }
}

.iwork-row a:hover,
.iwork-row a:focus {
  text-decoration: none;

  .thumb {
    @include transform(scale(1.03));
  }

  .iwork-description {
    opacity: 1;
    @include transform(translateY(0));
  }
}
