---
layout: default
---

<header
    class="projects__hero d-flex flex-column flex-wrap justify-content-center align-items-center text-white"
>
    <h1 class="projects__hero-title h3 mb-1">{{ site.title }}</h1>
    <h2 class="projects__hero-subtitle h6 text-uppercase mb-2">
        {{ site.subtitle }}
    </h2>
    <a href="/" class="projects__hero-avatar" style="background-image: url({{site.url}}/assets/images/michael_movsesov_avatar.jpeg)"></a>
</header>

<main class="projects__main bg-light pt-7">
    <section class="mt-8 projects__about">
        <div class="container-fluid">
            <div class="projects__main-section-title col-md-12 mb-4 pl-0">
                <h3 class="h6 text-muted">Hello :)</h3>
            </div>
            <div class="projects__about-card">
                <div class="row">
                    <div class="col-12">
                        {{ content }}
                        <div class="projects__about-social mt-6">
                            <a href="https://github.com/michaelmov" target="_blank"><i class="fab fa-github"></i></a> 
                            <a href="https://codepen.io/michaelmov/" target="_blank"><i class="fab fa-codepen"></i></a> 
                            <a href="https://www.linkedin.com/in/michaelmov" target="_blank"><i class="fab fa-linkedin"></i></a> 
                            <a href="https://twitter.com/MichaelMov" target="_blank"><i class="fab fa-twitter"></i></a> 
                            <a href="mailto:michael.movsesov@gmail.com" target="_blank"><i class="far fa-envelope"></i></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="projects__list mt-8">
        <div class="container-fluid">
            <div class="projects__main-section-title col-md-12 mb-4 pl-0">
                <h3 class="h6 text-muted">Projects</h3>
            </div>
            <div class="row">
                {% for project in site.projects %}
                <div class="col-12 mb-4">
                    <a href="{{ project.url | relative_url }}" class="article-card">
                        <article class="bg-white projects__list-card row m-0">
                            {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                            {% if thecycle == 'odd' %}
                            <div class="projects__list-card-image col-12 col-md-6 p-0">
                                <div class="projects__list-card-image-inner" style="background-image: url('{{ site.url }}/{{ project.thumbnail }}')"></div>
                            </div>
                            <div class="projects__list-card-info col-12 col-md-6 p-3">
                                <h4 class="mb-2">{{ project.title | escape }}</h4>
                                <p class="d-none d-lg-block">{{ project.description | escape }}</p>
                                <img class="projects__list-card-logo" src="{{ site.url }}/{{project.logo}}">
                            </div>
                            {% else %}
                            <div class="projects__list-card-image col-12 order-md-12 col-md-6 p-0">
                                <div class="projects__list-card-image-inner" style="background-image: url('{{ site.url }}/{{ project.thumbnail }}')"></div>
                            </div>
                            <div class="projects__list-card-info col-12 order-md-1 col-md-6 p-3">
                                <h4 class="mb-2">{{ project.title | escape }}</h4>
                                <p class="d-none d-lg-block">{{ project.description| escape }}</p>
                                <img class="projects__list-card-logo" src="{{ site.url }}/{{project.logo}}">
                            </div>
                            {% endif %}
                        </article>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>

