		<p>
			I was born and raised in a bleak Western Nebraska town where the only occupation available to the locals is agriculture. With such a gray yet inspiring childhood, I decided to escape that environment and venture into the unknown to forge my own path in this crazy world and try to make it a bright and joyful place for as many people as possible.
		</p>
		<p class="mb-5">
			As a designer, it’s hard to focus on anything other than the design of the project. With time and experience I've discovered that there needs to be a strong relationship between both business logic and design to create a great user experience.
		</p>

		<div class="bg-muted fade-15 py-2 rounded">
		</div>

		<div class="me-main mt-5">
			<div class="me scopy blue pb-2 mb-0">
				<h2 class="h4 me-header">
					<i class="fal fa-pencil-ruler">&nbsp;</i>Designer
				</h2>
				<p class="mb-4">
					I like to approach a design with simple &&nbsp;minimalistic&nbsp;interactions.
				</p>
				<p class="text-primary font-weight-bold mb-1">
					What I like to design
				</p>
				<p class="mb-3">
					Web Apps, Websites, Business&nbsp;Cards, Logos
        </p>

				<p class="text-primary font-weight-bold mb-1">
					Designer Tools
				</p>
				<p class="mb-0">
					 XD, InVision, Photoshop, Illustrator, InDesign, Sketch
				</p>
			</div>

			<div class="me scopy blue pb-2 mb-0">
				<h2 class="h4 me-header">
					<i class="fal fa-laptop-code">&nbsp;</i>Front-End Developer
				</h2>
				<p class="mb-4">
					I like to code from scratch and play with my inner designer to develop the perfect structure.
				</p>
				<p class="text-primary font-weight-bold mb-1">
					Spoken Languages
				</p>
				<p class="mb-3">
					HTML, CSS, LESS, SASS, JavaScript, jQuery
				</p>

				<p class="text-primary font-weight-bold mb-1">
					Dev Tools
				</p>
				<p class="mb-0">
					Atom, IntelliJ, Bootstrap 3/4, Drupal 7/8, Git , Codepen
				</p>
			</div>

			<div class="me">
				<h2 class="h4 me-header">
					<i class="fal fa-tools">&nbsp;</i>Back-End Developer
				</h2>
				<p class="mb-4">
					I'm by no means a pro, but I'm learning every day.
				</p>
				<p class="text-primary font-weight-bold mb-1">
					Spoken Languages
				</p>
				<p class="mb-3">
					Java, Groovy, Rails, Python3
				</p>

				<p class="text-primary font-weight-bold mb-1">
					Raspberry Pi Projects
				</p>
				<p class="mb-0">
					Vintage Radio, Automated Garden Watering&nbsp;System, Wireless Home Audio&nbsp;System
				</p>
			</div>
		</div>
