
  {% if page.type == "contact" %}
    <div class="col-12 d-flex flex-column resume-head mb-0">
  {% endif %}
  {% if page.type == "resume" %}
    <div class="col-12 d-flex flex-column resume-head">
  {% endif %}

  <h2 class="h4 mb-0">WES FAIRHEAD</h2>
  <h3 class="h5 mb-2 text-danger">UI/UX Developer</h3>
  <h4 class="p font-weight-bold mb-1">Lincoln, Nebraska</h4>
  <h4 class="p font-weight-bold mb-1"><a href="mailto:wfairhead@gmail.com" >wfairhead@gmail.com</a></h4>
  <h4 class="p font-weight-bold mb-0"><a href="tel:402.309.4653">402.309.4653</a></h4>
  {% if page.type == "contact" %}
    </div>
  {% endif %}
  {% if page.type == "resume" %}
    </div>
  {% endif %}
