{% include _inner/_contact.html %}


<div class="row resume-full">
	<div class="col-md-7">
		<div class="intro-about">
			<h3 class="h5 text-uppercase">Experience</h3>
			<div class="content-border">

				<div class="about-content">
					<h4 class="p exp-title">Web Developer @ Nebraska Interactive</h4>
					<h5 class="p exp-date">September 2019 - Present</h5>
					<div class="d-flex flex-column exp-details">
						<p class="mb-3">Develop and maintain functional applications for Nebraska State Agencies in an Agile environment utilizing a test driven development approach</p>
						<p class="mb-3">Utilized pair programming approach to ensure high quality code</p>
						<p class="mb-3">Coordinated configuration of back-end components in support of application development</p>
					</div>
				</div>

				<div class="about-content">
					<h4 class="p exp-title">Web Designer @ Nebraska Interactive</h4>
					<h5 class="p exp-date">December 2015 - September 2019</h5>
					<div class="d-flex flex-column exp-details">
						<p class="mb-3">Design, create and maintain fully responsive, 508 compliant websites for Nebraska State Agencies</p>
						<p class="mb-3">Design logos and print marketing materials for State Agencies</p>
						<p class="mb-3">Front-end Drupal 7/8 design and development</p>
					</div>
				</div>

				<div class="about-content">
					<h4 class="p exp-title">Multimedia Graphic Designer @ Star-Herald Newspaper</h4>
					<h5 class="p exp-date">December 2013 - December 2015</h5>
					<div class="d-flex flex-column exp-details">
						<p class="mb-3">Generate new promotional ideas, create ad layouts and help present concepts to customers</p>
						<p class="mb-3">Assist customers and sales representatives in the design and layout for online advertising</p>
						<p class="mb-3">Design, create and manage multiple websites for customers</p>
					</div>
				</div>

				<div class="about-content">
					<h4 class="p exp-title">Director/Production Assistant @ KHGI-TV</h4>
					<h5 class="p exp-date">December 2012 - December 2013</h5>
					<div class="d-flex flex-column exp-details">
						<p class="mb-0">Work closely with producers, directors and broadcasting talent in a fast paced work environment to develop evening television news casts</p>
					</div>
				</div>
			</div>
		</div>

		<div class="intro-about">
			<h3 class="h5 text-uppercase">Education</h3>
			<div class="content-border">
				<div class="about-content">
					<h4 class="p exp-title">University of Nebraska at Kearney</h4>
					<h5 class="p exp-date mb-0">Graduation: May 2013</h5>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-5">
		<div class="intro-about" id="lang">
			<h3 class="h5 text-uppercase">Languages</h3>
			<div class="content-border">
				<div class="about-content d-flex flex-column">
					<span class="font-weight-bold skills">HTML</span>
					<div class='bar'>
					  <div class='bar-chart languages primary' data-total='100'></div>
					</div>

					<span class="font-weight-bold skills">CSS</span>
					<div class='bar'>
					  <div class='bar-chart languages primary' data-total='100'></div>
					</div>

					<span class="font-weight-bold skills">LESS/SASS</span>
					<div class='bar'>
					  <div class='bar-chart languages primary' data-total='95'></div>
					</div>

					<span class="font-weight-bold skills">508 Compliance</span>
					<div class='bar'>
					  <div class='bar-chart languages primary' data-total='95'></div>
					</div>

					<span class="font-weight-bold skills">Jekyll</span>
					<div class='bar'>
					  <div class='bar-chart languages primary' data-total='85'></div>
					</div>

					<span class="font-weight-bold skills">jQuery</span>
					<div class='bar'>
					  <div class='bar-chart languages primary' data-total='70'></div>
					</div>

					<span class="font-weight-bold skills">Grunt/Webpack</span>
					<div class='bar'>
					  <div class='bar-chart languages primary' data-total='65'></div>
					</div>

				</div>
			</div>
		</div>

		<div class="intro-about">
			<h3 class="h5 text-uppercase">Programs</h3>
			<div class="content-border">
				<div class="about-content d-flex flex-column" id="programs">
					<span class="font-weight-bold skills">Adobe Creative Suite</span>
					<div class='bar'>
					  <div class='bar-chart programs primary' data-total='90'></div>
					</div>

					<span class="font-weight-bold skills">Atom</span>
					<div class='bar'>
					  <div class='bar-chart programs primary' data-total='85'></div>
					</div>

					<span class="font-weight-bold skills">Drupal</span>
					<div class='bar'>
					  <div class='bar-chart programs primary' data-total='85'></div>
					</div>

					<span class="font-weight-bold skills">Intellij</span>
					<div class='bar'>
					  <div class='bar-chart programs primary' data-total='75'></div>
					</div>
				</div>
			</div>
		</div>

		<div class="intro-about">
			<h3 class="h5 text-uppercase">Hobbies</h3>
			<div class="content-border">
				<div class="about-content d-flex flex-column" id="hobbies">

					<span class="font-weight-bold skills">Music</span>
					<div class='bar'>
					  <div class='bar-chart hobbies primary' data-total='95'></div>
					</div>

					<span class="font-weight-bold skills">Dogs/Cats</span>
					<div class='bar'>
					  <div class='bar-chart hobbies primary' data-total='90'></div>
					</div>

					<span class="font-weight-bold skills">Gardening</span>
					<div class='bar'>
					  <div class='bar-chart hobbies primary' data-total='85'></div>
					</div>

					<span class="font-weight-bold skills">Biking</span>
					<div class='bar'>
					  <div class='bar-chart hobbies primary' data-total='80'></div>
					</div>

					<span class="font-weight-bold skills">Traveling</span>
					<div class='bar'>
					  <div class='bar-chart hobbies primary' data-total='75'></div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
<a class="btn btn-sm btn-primary btn-block d-block d-md-none" href="/assets/images/fairhead-resume.pdf">View Résumé</a>
<button class="btn btn-sm btn-primary btn-block btn-md-inline float-md-right d-none d-md-block" onclick="printJS('/assets/images/fairhead-resume.pdf')">Print Résumé</button>
<script src="/assets/js/print.min.js"></script>
<script>
$(window).on('scroll', function() {
   if ($(window).scrollTop() >= $(
	 '#lang').offset().top + $('#lang').
	   outerHeight() - window.innerHeight) {
	   init_languages ()
   }
});

$(window).on('scroll', function() {
   if ($(window).scrollTop() >= $(
	 '#programs').offset().top + $('#programs').
	   outerHeight() - window.innerHeight) {
	   init_programs ()
   }
});

$(window).on('scroll', function() {
   if ($(window).scrollTop() >= $(
	 '#hobbies').offset().top + $('#hobbies').
	   outerHeight() - window.innerHeight) {
	   init_hobbies ()
   }
});
</script>
