.projects {
    &__main {
        overflow-x: hidden;
    }
    &__hero {
        @extend .home__hero !optional;
        height: 200px !important;

        &-title {
            @extend .home__hero-title !optional;
        }

        &-subtitle {
            @extend .home__hero-subtitle !optional;
        }

        &-avatar {
            @extend .article__author-avatar !optional;
            top: auto;
            bottom: -50px;
            border-color: $gray-100;
        }
    }

    &__main-section-title {
        @extend .home__main-section-title !optional;
    }

    &__about {
        &-quote {
            font-size: 2.5rem;
            font-family: $font-family-headings;
            
            @include media-breakpoint-down(md) {
                margin-top: 0;
            }
        }

        p {
            a {
                @include link-style;
            }
        }


        &-social {
            i {
                font-size: 1.8rem;
            }
            a {
                display: inline-block;
                color: $gray-700;
                transition: all 0.25s ease-in-out;
                margin-right: $spacer * 1.5;
    
                &:hover {
                    text-decoration: none;
                    transform: scale(1.2);
                }
            }
        }
    }

    &__list {
        article {
            height: 300px;

            @include media-breakpoint-down(sm) {
                padding-top: 0 !important;
                height: auto;
            }
        }

        &-card {
            &-image {
                height: 100%;
                position: relative;
                overflow: hidden;
                @include media-breakpoint-down(sm) {
                    height: 200px;
                }

                &-inner {
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: all 0.75s ease;
                }
            }

            &-info {
                height: 100%;

                @include media-breakpoint-down(sm) {
                    min-height: 160px;
                }
            }

            &-logo {
                height: 8%;
                display: block;
                position: absolute;
                right: $spacer * 4;
                bottom: $spacer * 4;
            }
        }
    }
}

.project {

    &__hero {
        .article__hero-text {
            transform: translateY(-70px);
        }
    }
    &__main {
        &-logo {
           margin: 0 !important; 
           height: 2rem !important;

        }
        .article {
            &__content {
                transform: translateY(-150px);
            }
        }

    }
}
