a {
    @include transition(.1s ease-in all);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: $bold;
    color: $dark;
    font-family: $headfont;

    &.p {
        font-family: $basefont !important;
        letter-spacing: .065rem !important;
        line-height: 1.5rem !important;
        font-size: 105% !important;
        @include breakpoint(min-tablet) {
            font-size: 110.5% !important;
        }
    }
}

h1,
.h1 {
    letter-spacing: .05rem;
    font-size: 3.5rem;
}

h2,
.h2 {
    letter-spacing: .05rem;
    font-size: 3rem;
}

h3,
.h3 {
    letter-spacing: .05rem;
    font-size: 2.5rem;
}

h4,
.h4 {
    letter-spacing: .05rem;
    font-size: 2rem;
}

h5,
.h5 {
    font-size: 1.5rem;
}

h6,
.h6 {
    font-size: 1rem;
}



.mantra-link {
    color: $primary;
    position: relative;
    padding: .15rem .2rem .3rem .2rem;
    @include transition(.1s ease-in !important);
    font-weight: $bold;
    z-index: 1;

    &:before {
        content: '';
        background: darken($danger, 2%);
        position: absolute;
        width: 100%;
        height: 0;
        z-index: -1;
        bottom: 0;
        left: 0;
        @include transition(.15s cubic-bezier(.17,.67,.47,.94) !important);
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        border-bottom: 1px dashed $primary;
        width: 100%;
        left: 0;
        @include transition(.1s ease-in !important);
    }

    &:hover {
        text-decoration: none;
        color: $white !important;
        @include transition-delay(.025s);

        border-bottom: none;

        &:before {
            height: 100%;
            @include transition(.15s cubic-bezier(.17,.67,.47,.94)!important);
        }

        &:after {
            border-bottom: none;
            @include transition(.1s ease-in !important);
        }
    }
}

fa, .far, .fas {
    font-family: $fontawesome !important;
}
