h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { 
    font-family: 'Arvo', sans-serif;
}

@include media-breakpoint-down(sm) {
    h1, .h1 {
        font-size: $font-size-base * 2.75;
    } 
    h2, .h2 {
        font-size: $font-size-base * 2.25;
    } 
    h3, .h3 {
        font-size: $font-size-base * 1.5;
    } 
    h4, .h4 {
        font-size: $font-size-base * 1.25;
    } 
    h5, .h5 {
        font-size: $font-size-base;
    } 
    h6, .h6 {
        font-size: $font-size-base * 0.85;
    } 
}

.hljs {
    font-size: 14px;
}

code {
    background-color: $gray-300;
    color: $primary-green;
    padding: 0 $spacer/2;
}

blockquote {
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 1.5;
    color: $gray-700;

    @include media-breakpoint-down(sm) {
        font-size: 1.4rem;
    }

    p {
        border-left: 4px solid $primary-green;
        padding-left: $spacer * 3;
        padding-right: $spacer * 3;
    }
}

